* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding:0px;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'italic', serif;
    font-size: 1.1rem;
    background: linear-gradient(#fffef5, #faedb3);
}

.body{
    margin: 100px;
    
}

header {
    padding:10px;
    background-image: url("banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

header div{
    width: 35%;
    font-size: 2.5rem;
    font-family: 'Homemade Apple', cursive;
    display: inline-block;
}

ol, ul {
    list-style: none;
}

.menu{
    width: 60%;
    display: inline-block;
}

.titulo{
    text-align: center;
    font-size:2.5rem;
}

.menu li{
    display: inline;
    padding-left: 25px;
}

.menu a {
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.biografia h1{
    text-align: center;
    padding: 30px 0 30px;
}

section .div-img{
    width: 40%;
    margin-top: 30px;
    display: inline-block;
    position: relative;
}

section .div-texto{
    width: 52%;
    display: inline-block;
    position: absolute;
}

section .div-texto p{
    font-size: 1.1rem;
    font-family: 'italic', serif;
    text-align: justify;
}

.estudos-texto{
    width: 55%;
    display :inline-block;font-size: 1.1rem;
    font-family: 'italic', serif;
}

.estudos-img {
    width: 40%;
    display: inline-block;
}
.carreira-img{
    width: 40%;
    font-family: 'arial', serif;
    font-size: 0rem;
}
.carreira{
    margin-bottom: 30px;
    padding: 18px;
    font-size: 1.1rem;
    font-family: 'italic', serif;
}
.premios-img{
    width: 40%;
    display: inline-flex;
}
.premios-texto{
    width: 55%;
    display: inline-block;
    font-size: 1.1rem;
    font-family: 'italic', serif;
}
.nav{
    width: 100%;
}

.caixa {
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
/* Header */

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.caixa  {
    position: relative;
    width:1200px;
    margin: 0 auto;
}

footer {
    height: 50px;
    background-color: rgb(245, 195, 145);
    margin-top: 100px;    
    text-align: center;
}

footer p {
    padding-top: 20px;
}