body {
  font-family: Open Sans, sans-serif;
  background-color: black;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

h2 {
  text-align: center;
  color: #99ffff;
  font-size: 40px;
}

.titulo {
  color: #99ffff;
  text-align: center;
}


section {
  width: 60%;
  margin: 0 auto;
}

section section {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

h3 {
  color: white;
  font-size: 22px;
}

p {
  line-height: 1.5;
  font-size: 20px;
  text-align: justify;
}

.perfil {
  border-radius: 20px;
}

figcaption {
  font-size: 12px;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #99ffff;
  font-weight: 700;
}

.referencias {
  color: #99ffff;
}

.referencias a {
  color: #fff;
  font-size: 15px;
}

.principal {
  background: #8a71c9;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.principal a {
  color: #fff;
  text-decoration: underline;
  font-weight: normal;
}

.principal li {
  display: inline-block;
  line-height: 2.5;
  margin: 0 20px;
}


.container i:hover {
  color: white;
  font-size: 3rem;
}

.container i {
  color: black;
  font-size: 2rem;
  ;
}

footer {
  padding-bottom: 2rem;
}

.rodape-prin {
  align-items: center;
  background-color: #8a71c9;
  height: 60px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: Open Sans, sans-serif;
}

.rodape-prin span {
  float: left;
  width: 90%;
  line-height: 100px;
  /* Mesma altura do rodapé */
  text-align: center;
}

.icones-sociais li {
  display: inline-block;
  float: left;
  margin-right: 5px;
  width: auto;
  height: inherit;
  line-height: 110px
}

.mulheres {
  text-align: center;
}

.divas {
  text-align: center;
  margin: 4rem;
}

.divas__link {
  display: inline-block;
  width: 20%;
  background-color: #8a71c9;
  padding: 2rem 0;
  margin: 0 1rem;
  text-align: center;
  color: white;
  border-radius: 1.5rem;
}

.divas__img,
.divas__titulo {
  margin-bottom: .5rem;
  width: 100%;
}