/* Css Formulario */
form {
	margin: 40px 80px;
}

form label, form legend {
	display:block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width:40%;
	padding: 15px 0;
	background-color: #6A8FA6;
	color: white;
	font-weight: bold;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: #e76739;
	transform: scale(1.2);
}

/* Css tabela */

table {
	margin: 40px 80px 40px;
}

thead {
	background: #555555;
	color: white;
	font-weight: bold;
}

td, th {
	border: 1px solid #000000;
	padding: 8px 15px;
}

.horario h3 {
	color: #2c3032;
	margin: 100px 0 0 80px;
	font-size: 25px;
	font-weight: bold;
}

/* Footer */

footer {
	text-align: center;
	background-color: #A7C6D9;
	padding: 40px 0;
}

.copyright {
	color: #2c3032;
	font-size: 15px bold;
	margin: 20px 0 0;
}
