body {
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: #6A8FA6;
    padding:20px;
}


.caixa-imagem {
    width: 80px;
}

#servicos {

}

.atuacao {
    background-color: #345B73;
    padding: 30px;
}
