body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #7f96a5;
}

header {
   background-color:#6A8FA6;
   padding: 20px;

}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}


.caixa-imagem {
    width: 80px;
}

nav {
	position: absolute;
	top: 50px;
	right: 0;
    
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
    text-align: center;
}

nav a {
	text-transform: uppercase;
	color: #4c4d50;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav a:hover {
	color: #3b3a96;
	text-decoration: underline;
}

/* css da página inicial */
.banner {
	width:100%;
}

.titulo-principal {
	text-align: center;
	font-size: 2em;
	margin: 0 0 1em;
	clear: left;
}

.principal {
	padding: 3em 0;
	background: #FEFEFE;
	width: 940px;
	margin: 0 auto;
}

.principal p {
	margin: 0 0 1em;
}

.women-tech {
	width: 200px;
	float: left;
	margin: 0 20px 20px 0;
}

.imagem-quem-somos {
    width: 450px;
    padding: 0 250px 0 250px;
}


.atuacao {
	width: 640px;
	margin: 0 auto;
}

.lista-atuacao {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}


.itens {
	line-height: 1.5;
}

.itens:first-child {
	font-weight: bold;
}

.itens:before {
	content: "🟊";
}

.atuacao-banner {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
    border-radius: 10px;
    padding: 0;
}

.atuacao-banner:hover {
	opacity: 0.3;
}

/* css lista serviços */

.servicos {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.servicos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.servicos li:hover {
	border-color: #C78C19;
}

.servicos li:active {
	border-color: #088C19;	
}

.servicos li:hover h3 {
	font-size: 34px;
}

.servicos h3 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.servico-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}


footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}