
body {
    margin:0;
    padding: 0;
    border: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #6a8fa6;
    padding:20px;
}
.recorte{
    height: 20%;
    width: 20%;
}